<Scripts>
  <Script>
    <Name>Test Script 1</Name>
    <Path>C:\eos\test.ps1</Path>
    <Arguments>-count 5</Arguments>
    <Details>Some details here</Details>
  </Script>
  <Script>
    <Name>Test Script 2</Name>
    <Path>C:\eos\test.ps1</Path>
    <Arguments>-count 7</Arguments>
    <Details>Some details here</Details>
  </Script>
</Scripts>
